@font-face {
  font-family: 'Avenir Std';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../assets/fonts/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Std';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Std';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Std';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Std';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/AvenirLTStd-Black.woff') format('woff');
}

:root {
  --color-blue-primary: #1270DE;
  --color-black: #000000;
  --color-grey-dark: #8C8C8C;
  --color-grey-medium: #C5C5C5;
  --color-grey-light: #F0F0F0;
  --color-white: #ffffff;
  --color-teal: #14BEB4;
  --color-grey-blue: #EBF1F8;
  --color-error-red: #FF0000;
  --color-error-red-light: #FF9B95;
}

html,
body {
  margin: 0;
  font-family: 'Avenir Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}