.location-card {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-grey-medium);
  padding: 1rem 1rem 2rem;
}

.location-card h2 {
  color: var(--color-blue-primary);
}

.location-card address {
  font-style: normal;
  margin: 0 0 1rem 0;
}

.location-card div span {
  display: inline-block;
  width: 30%;
}

.location-card a[href^="tel"] {
  color: var(--color-grey-dark);
  display: block;
  font-size: 1.25rem;
  margin: 1rem 0;
  text-decoration: underline;
}

.search-results {
  margin: 0;
  padding: 0;
}

.search-details {
  padding: 1rem;
}